body {
    margin: 0px;
    padding: 0px;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 7fr;
    gap: 0px;

}

body > div {
    background-color: yellow;
    border: 1px solid black;
    padding: 1rem;;
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    color: purple;
    text-align: center;
    
}

.user_settings, .user_section {
    margin-top: 60%;
}

.sidebar li {
    margin-top: 1rem;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: pink;
}

ul {
    list-style: none;
    padding: 0px;
    text-decoration: none;
}

.logo {
 flex: 0 0;    
}

.logo > h2{
    color: blue;
    text-align: center;
}

.sections {
    flex: 1 1;
    align-content: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;
    
}

.projects, .announcements {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: aquamarine;

}

.card, .announcement{
    width: 100%;
    place-self: center;
    align-self: center;
    border: solid grey 1px;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: aliceblue;
    height: 100%;

}

h3 {
    color: rgb(76, 65, 228);
    
}

.searchbar input{
    width: 99%;
    border-radius: 0.5rem;
    border: solid 1px grey;
    padding: 0.3rem;
}

h1 {
    text-align: center;
}